<div id="updateExercise" tabindex="-1"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 items-center justify-center z-50 w-full md:inset-0 h-modal md:h-full ">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-zinc-800 rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-start p-5 rounded-t border-b border-red-500">
                <h3 class="text-xl font-semibold text-red-500 lg:text-2xl">
                    Изменение упражнения
                </h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-zinc-600 hover:text-red-500 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        onclick="modalToggle(document.getElementById('updateExercise'))">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <form id="updateExerciseForm">
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <div class="flex flex-col mx-auto max-w-sm ">
                        <div class="my-2 flex justify-between items-center">
                            <input type="text" id="id" value="" readonly hidden required>
                            <label class="form_label" for="name">Название упражнения:</label>
                            <input class="form_input" type="text" id="name" placeholder="Название" required>
                        </div>
                        <div class="my-2 flex justify-between items-center">
                            <label class="form_label" for="type">Тип упражнения:</label>
                            <select class="form_input" id="exerciseTypeId">
                                {{#if types}}
                                    {{#forEach types}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/forEach}}
                                {{/if}}
                            </select>
                        </div>
                        <div class="my-2 flex justify-between items-center">
                            <label class="form_label" for="description">Описание упражнения:</label>
                            <textarea class="form_textarea" id="description" placeholder="Описание упражнения"></textarea>
                        </div>
                        <div class="my-2 flex justify-between items-center">
                            <label class="form_label" for="duration">Длительность упражнения (сек.):</label>
                            <input class="form_input" id="duration" type="number" min="0" placeholder="Длительность упражнения">
                        </div>
                        <div class="my-2 flex justify-between items-center">
                            <label class="form_label" for="rest">Длительность отдыха (сек.):</label>
                            <input class="form_input" id="rest" type="number" min="0" placeholder="Длительность отдыха">
                        </div>
                        <div class="my-2 flex justify-between items-center">
                            <label class="form_label" for="repetitions">Количество повторений:</label>
                            <input class="form_input" id="repetitions" type="number" min="0" placeholder="Количество повторений">
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center justify-center p-6 space-x-2 rounded-b border-t border-red-500">
                    <button class="form_submit" type="submit">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#updateExerciseForm').on('submit', function (e) {
        new Exercise().update(e)
    })
</script>